/* 視窗背景顏色 */
body {
    background-color: #F8F4E3 ;
    background-image: url(./images/header_bg.jpg);
    background-size: 180px, contain, 20%;
    background-repeat: repeat-x;
    margin: 0 auto;
}
/* 連結的顏色 */
a {
    color: #E5446D    ;
}
a:hover {
    color: #B6997E;
    text-decoration: none;
}
/* 導覽樣式設定 */
.menu ul {
    padding-inline-start: 0;
}
.menu li {
    list-style-type: none; 
    margin: 0 24px;
    display: inline-block;
    width: 180px;
}
.menu a {
    background: #3E5622;
    color: #F8F4E3;
    padding: 16px;
    display: block;
    border-radius: 8px;
    text-decoration: none;
}
.menu a:hover {
    background: rgba(62,86,34, 0.8);
}
/* 頁面標題設定 */
h1 {
    width: 300px;
    margin: 40px auto;
    padding: 30px;
    border: 5px solid #3E5622;
    background: linear-gradient(to bottom,#C4DCA7,#6A923A);
    color: #F8F4E3;
    font-size: 350%;
    text-align: center;
    line-height: 1;
    border-radius: 50%;
    text-shadow: 1px 1px 5px #B6997E;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family: "Rubik Marker Hatch", Arial, Helvetica, sans-serif;
    font-weight: 100;
}
/* 次標題設定 */
.h {
    padding: 10px;
    margin-bottom: 30px;
    border: 1px dotted #B6997E;
    border-left: 10px solid #B6997E;
    color: #733D19;
    border-radius: 5px 0 0 5px;
}
/* 小標題設定 */
.h-sub {
    padding: 10px;
    background-color: #F8F4E3;
    color: #733D19;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px #E5446D inset;
}
.h-sub span {
    font-size: normal;
}
/* 內容區塊邊框設定 */
#contents {
    max-width: 798px;
    margin: 40px auto;
    padding: 40px 80px;
    border: 1px solid #733D19;
    background-color: #fff;
}
/* 大頭照設定 */
.img-round {
    border-radius: 50%;
}
/* 店家資訊設定 */
#profile dd {
    margin-bottom: 16px;
}
/* 文繞圖設定 */
.imgL {
    float: left;
    margin-right: 20px;
}
.imgR {
    float: right;
    margin-left: 20px;
}
.clear {
    clear: both;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
/* "更多介紹"連結設定 */
.more {
    text-align: right;
}
.more::after {
    content: url(./images/arrow.png);
    margin-left: 3px;
    vertical-align: middle;
}
/* 區塊間分隔 */
#contents > section + section {
    margin-top: 80px;
}
/* 頁首、導覽列、頁尾的共通設定 */
header, nav, footer {
    text-align: center;
}
#back-to-top {
    position: fixed;
    right: 40px;
    bottom: 60px;
}
/* 連結圖示設定 */
a[target="_blank"]::after {
    content: url(./images/ico_blank.png);
    margin-left: 5px;
    vertical-align: middle;
}
a[href^="mailto:"]::after {
    content: url(./images/ico_mail.png);
    margin-left: 5px;
    vertical-align: middle;
}


/* 表格設定 */
#entryform {
    background: #F8F4E3;
}
.entryTable {
    width: 100%;
    margin-bottom: 30px;
    border: 2px solid #f5b7c7;
    border-collapse: collapse;
}
.entryTable th, 
.entryTable td {
    padding: 10px 20px;
    border: 1px solid #f5b7c7;
}
.entryTable th {
    width: 10em;
    background-color: rgba(345, 76, 84, 0.2);
    text-align: left;
}
.entryTable caption {
    margin-bottom: 10px;
}
/* 輸入表單設定 */
.entryTable input[type="text"],
.entryTable input[type="email"],
.entryTable textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 1em;
}
.entryTable input[type="text"]:focus,
.entryTable input[type="email"]:focus,
.entryTable textarea:focus {
    background-color: #ffffee;
    outline: none;
    border-left: 5px solid #ffa700;
}
/* 滑鼠指標樣式 */
label,
input,
textarea,
select {
    cursor: pointer;
}
/* 按鈕樣式 */
.entryBtns {
    width: 100%;
}
.entryBtns input {
    max-width: 200px;
    margin: 0 auto;
    padding: 10px;
    font-size: 1em;
    border: 2px solid #f5b7c7;
    border-radius: 4px;
    background: rgba(345, 76, 84, 0.2);
}
.entryBtns input:hover {
    opacity: 0.7;
}
.entryBtns input[type="reset"] {
    background: #f8f4e3ff;
}
/* RWD設定:768px以下 */
@media screen and (max-width: 768px) {
    #beans .imgL, .imgR {
        width: 100%;
        height: 100%;
        clear: both;
    }
    .menu li {
        margin: 8px auto;
    }
 }
 /* RWD設定:664px以下 */
 @media screen and (max-width: 700px) {
    #contents {
        width: 100%;
        margin: 8px auto; /* 稍微調整上下 margin */
        padding: 20px; /* 減少左右 padding */
    }
    .menu li {
        display: block;
        margin: 8px auto;
    }
    .menu ul {
        padding: 0;
    }
    #profile {
        text-align: center;
    }
    #profile h2,
    #profile dl {
        text-align: left;
    }
    #profile img.imgL {
        float: none;
        width: 100%;
        height: 100%;
    }
    .entryTable {
        width: 100%;
        overflow-block: wrap;
    }
    .entryTable th {
        padding: 10px auto;
    }
 }
